@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Serif 4", serif;
}
:root{
    --pinklight: #F4EBEB;
    --pinkheader: #E1C1C2;
    --pinkavg: #B2797A;
    --pinkdark: #4A2A2A;
    --blue: #80b29d;
    --blueavg: #c7ddd4;
    --bluelight: #E8F4EF;
    --white: #FFFFFF;
    --border: #dddada;
    --ghost: #cccaca;
    --error: #d04545;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(178,121,122);
    background: linear-gradient(90deg, rgba(178,121,122,1) 0%, rgba(225,193,194,1) 50%, rgba(178,121,122,1) 100%);
    padding: 0 15px;
    border-radius: 38px;
}
.header{
    background-color: var(--pinkheader);
    padding: 10px;
    font-size: 40px;
    color: var(--pinkavg);
    position:fixed;
    width: 100%;
    z-index: 99;
}
.header span{
    font-family: "Irish Grover", system-ui;
}
.header img{
    width: 32px;
    height: 32px;
}
.category-item img{
    width: 64px;
    height: 64px;
}

.mobile-block{
    background-color: var(--pinklight);
    /* padding-bottom: 10%; */
    min-height: 100vh;
    padding-top: 75px;
}


.news-container{
    margin: 5px 10px;
    box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.25);
    border-radius: 30px;
    padding: 30px 20px;
    text-align: center;
    cursor: pointer;
}
.category{
    background-color: var(--blue);
    width: 126px;
    text-align: center;
    border-radius: 8px;
    position: relative;
    left: 57%;
    top: 25px;
    padding: 2px 0;
    font-weight: 600;
}
.news-card{
    text-decoration: none;
    color: var(--pinkdark);
}
.news-card__title{
    font-size:14px;
}
.news-card__desc{
    font-size: 12px;
}


.post-detail-block img{
    /* object-fit: cover;
    object-position: top;
    height: 150px; */
    width: 100%;
    border-radius: 15px;
    border: 3px solid var(--white);
}
.container{
    margin: 0 30px;
    padding-bottom: 10%;
}
.in-img{
    left: 30%;
    top: 20px;
}
.author{
    margin-bottom: 20px;
    font-size: 14px;
}
.author i{
    color: var(--blue);
    cursor: pointer;
    font-weight: 500;
}
.description{
    font-weight: 550;
}

.is-blue{
    background-color: var(--bluelight);
}
.category-row{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    gap:30px;
    padding: 20px 0;
}
.containercat{
    position: relative;
    top: 10%;
    background: rgb(128, 178, 157);
    background: linear-gradient(0deg, rgba(232, 244, 239, 1) 10%, rgba(128, 178, 157, 1) 100%);
    border-radius: 40px;
}
.category-item img{
    margin-top: 30px;
}
.category-item{
    cursor:pointer;
    background-color: var(--white);
    border: 4px solid var(--blue);
    padding: 0 15px;
    text-align: center;
    border-radius: 55px;
    transition: 0.2s ease-in-out;
    text-decoration: none;
}
.category-item:hover{
    background-color: var(--blueavg);
}
.category-item__title{
    font-size: 16px;
    color: var(--pinkdark);
    font-weight: 600;
}

.btn-back, .btn-category:hover{
    cursor: pointer;
}




.load-container{
    margin: 0 10px;
}
.loading-card {
    padding: 12px 0;
    
}
.loading-detail{
    padding: 12px 0;
}
.loading-row{
    padding: 30px 0;
    display:grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
.loading-item{
    border: 1.5px solid var(--border);
    padding: 30px;
    border-radius: 30px;
}
.skeleton-icon{
    height: 48px;
    width: 48px;
    background-color: var(--border);
    border-radius: 50%;
    margin: 0 auto;
    animation: ghost 1s infinite linear;
}
.skeleton-small-text{
    height: 15px;
    width: 80px;
    background-color: var(--border);
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 5px;
    animation: ghost 1s infinite linear;
}
.skeleton-title, .skeleton-text, .skeleton-big-text, .skeleton-image {
    width: 100%;
    background-color: var(--border);
    border-radius: 30px;
    margin-bottom: 8px;
    animation: ghost 1s infinite linear;
}
.skeleton-title {
    height: 100px;  
    box-shadow: 0px 2px 4px 0px rgba(34, 60, 80, 0.25); 
}
.skeleton-text{
    height: 15px;
}

.skeleton-big-text{
    height: 110px;
}
.skeleton-image{
    height: 220px;
}

@keyframes ghost {
    0%{
        background-color: var(--border);
    }
    50%{
        background-color: var(--ghost);
    }
    100%{
        background-color: var(--border);
    }
}


.all-news {
    padding-bottom: 30px;
}

.error{
    background-color: var(--error);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
}
.error-title{
    font-size: 16px;
    margin-bottom: 10px;
}
.error-description{
    font-size: 12px;
    margin-bottom: 12px;
}
.white-btn{
    border-radius: 8px;
    border: none;
    color: var(--error);
    padding: 10px 45px;
}


.for-category{
    padding: 5px;
    color: var(--pinklight);
    background-color: var(--blue);
    text-align: center;
}